body {
    background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 14, 154, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
    font-family: Arial, sans-serif; 
}

.container {
    margin-top: 50px; 
}

h2 {
    margin-bottom: 20px;
    color: white;
}

.form-control {
    margin-bottom: 20px; 
    width: 20%;
}

